{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<br>
<br>
<br>
<h1 align="center">Notes</h1>
<style>
  textarea#note {
  width: 100%;      /* full width of container */
  height: 200px;    /* increase height as needed */
  font-size: 16px;  /* optional: bigger font */
  padding: 10px;    /* optional: some padding */
  resize: vertical; /* allow vertical resize only */
}
</style>
<!-- Form to Add Note -->
<form method="POST">
  <textarea name="note" id="note" class="form-control"  placeholder="Write your note here..."></textarea>
  <br />
  <div align="center"> 
    <button type="submit" class="btn btn-primary">Add Note</button>
  </div>
</form>

<!-- Display Past Notes After Form -->
<br>
<ul class="list-group list-group-flush" id="notes">
  {% for note in user.notes %}
  <li class="list-group-item">
    {{ note.data }}
    <button class="close" type="button" onClick="deleteNote('{{ note.id }}')">
        <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>
{% endblock %}
